@charset "utf-8";
/* CSS Document */

#image
{
	background-repeat: no-repeat;
	background-size: 100% auto; 
}


table {
	/* border: 1px solid #666;
	width: 100%;
	margin: 20px 0 20px 0 !important; */
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: center;
	vertical-align: top;
}

thead tr {
	background-color: #009999;
}

th.sorted {
	background-color: #CCCCCC;
}

th a,th a:visited {
	color: #FFFFFF;
}

th a:hover {
	
	
}

th.sorted a,th.sortable a {
	background-position: right;
	display: blue;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
    background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
    background-repeat: no-repeat;
}

tr.odd {
	background-color: #FFCCCC
}

tr.tableRowEven,tr.even {
	background-color: #FF9999
}


.grouped-table tr.even {
    background-color: #00FFFF
}
.grouped-table tr.odd {
    background-color: #00FF66
}
